@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Quicksand', sans-serif;
}

.font-title{
  font-family: 'Ubuntu', sans-serif;
}

.mapboxgl-popup-tip{
  border-top-color: #c1b3e9 !important;
  @apply shadow-2xl;
}

.mapboxgl-popup-content{
  @apply bg-brand2-100 rounded-lg shadow-2xl;
}

.mapboxgl-popup-tip{
  display: none;
}

_::-webkit-full-page-media, _:future, :root .main-bottom-bar {
  bottom: 95px;
}

_::-webkit-full-page-media, _:future, :root .filter-icons {
  bottom: 200px;
}
